:root {
    --teal: #2eccac;
    --teal_hover: #279e8c;
}

* {
    font-family: 'Poppins', sans-serif;
}

.h-font {
    font-family: 'Merienda', cursive;
}

/* Hide input type number arrows for all browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield; /* Firefox fallback */
}

/* Custom button background */
.custom-bg {
    background-color: var(--teal);
    border: 1px solid var(--teal);
}

.custom-bg:hover {
    background-color: var(--teal_hover);
    border-color: var(--teal_hover);
}

/* Availability form styling */
.availability-form {
    margin-top: -50px;
    z-index: 2;
    position: relative;
}

/* Custom alert styling */
.custom-alert {
    position: fixed;
    top: 80px;
    right: 25px;
    z-index: 1050; /* Ensure it appears above other elements */
}

/* Dashboard menu styling */
#dashboard-menu {
    position: fixed;
    height: 100%;
    width: 250px; /* Set a default width */
    overflow-y: auto; /* Add scroll for long menus */
}

@media screen and (max-width: 991px) {
    #dashboard-menu {
        width: 100%;
        height: auto;
    }
    #main-content {
        margin-top: 60px;
    }
}


